<ion-view title="Friends">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon-gray icon ion-navicon" ng-hide="$exposeAside.active"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button button-icon" ng-click="displayAlerts()" ng-show="alertCount"><span class="badge badge-assertive">{{alertCount}}</span></button>
	</ion-nav-buttons>

	<ion-content class="has-header dashboard">
		<ion-refresher
			pulling-text="Pull to refresh..."
			on-refresh="refresh()">
		</ion-refresher>

		<alert ng-repeat="alert in alerts" type="{{alert.type}}" ng-click="navTo()" close="closeAlert($index)" ng-if="showAlerts">{{alert.msg}}</alert>
		
		<div class="list">
			<div class="card card-search">
				<form ng-submit="search(searchData)">
					<label class="item item-input">
						<input type="text" ng-model="searchData.input" />
					</label>
					<button class="button button-positive"><i class="icon right ion-ios7-search-strong"></i></button>
				</form>
			</div>
			
			<div class="card card-friend" ng-repeat="j in [1,2,3,4,5,6,7,8,9,10]" ng-click="showFeed($index)">
				<img class="card-friend-avatar" src="http://www.progarchives.com/forum/uploads/823/Martian.jpg" />
				<div class="card-friend-content">
					<div class="card-friend-title">
						John Doe <span class="card-friend-subtitle">- 5 minutes ago</span>
					</div>
					56 friends in common
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
